$mobile: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1280px;

$bg-primary: #050a13;
$card-bg-gradient: #080C0F80;
$card-bg-gradientt: #55555500;
$pickup_dropoff: #535455;
$location-info: #909192;
$location-date: #696A6B;
$yellow: #ffee00;
$text-primary: #EDEDED;
$text-secondary: #94a3b8;
$text-order: #969798;

$circule-active: #0C7DED;
$circule-deactive: #7c7c7c;